p {
font-family:  Roboto;
}

.prpct:hover {
box-shadow: 4px 4px 4px black;
cursor: pointer;
}

.prpct:active {
padding-top: 4px;
padding-left: 2px;
box-shadow: 0px 0px 0px white ;
}

.sbar {
display: block;
}

.tm1:hover {
box-shadow: 6px 2px 6px black ;
cursor: pointer;

}

.tm1:active {
padding-top: 3px;
padding-left: 3px;
box-shadow: 0px 0px 0px white ;
}

.tm1{
width: 100%;
}

.vit {
font-size: 25px;
font-weight: 545;
margin-top: 0px;
margin-bottom: 0;
}

.chn {
font-size: 20px;
margin-top: 0;
margin-bottom: 0;
color:#aaa ;
}

.st {
margin-top: 6px;
margin-bottom: 0;
color:#aaa ;
}

.profpr {

}

.vidinfo {

}

.prpct {
width: 40px;
border-radius: 50px;
}

.row1 {
margin-bottom: 10px;
}

.grid1 {
display: grid;
grid-template-columns: 50px 1fr;
}

.videogrid{ 
column-gap: 15px;
row-gap: 25px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;

}


