p {
font-family:  Roboto;
}

.prpct:hover {
box-shadow: 4px 4px 4px black;
cursor: pointer;
}

.prpct:active {
padding-top: 4px;
padding-left: 2px;
box-shadow: 0px 0px 0px white ;
}

.tm1:hover {
box-shadow: 5px 8px 10px rgba(0, 0, 0, 1) ;
cursor: pointer;

}

.tm1:active {
padding-top: 3px;
padding-left: 3px;
box-shadow: 5px 8px 10px rgba(0, 0, 0, 0) ;
}

.tm1{
width: 100%;
border-radius: 12px;
}

.vit {
font-size: 25px;
font-weight: 545;
margin-top: 0px;
margin-bottom: 0;
}

.chn {
font-size: 20px;
margin-top: 0;
margin-bottom: 0;
color:#727272 ;
}

.st {
margin-top: 6px;
margin-bottom: 0;
color:#727272 ;
}

.prpct {
width: 40px;
border-radius: 50px;
}

.row1 {
margin-bottom: 10px;
}

.grid1 {
display: grid;
grid-template-columns: 50px 1fr;
}

.videogrid{ 
column-gap: 15px;
row-gap: 25px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-top: 10px;
}

.headbar{
display: flex;
flex-direction: row;
height: 60px;
justify-content: space-between;
padding-bottom: 40px;
}

.left{
width: 200px;
margin-right: 20px;
display: flex;
justify-content: space-between;
}

.mid{
flex: 1;
max-width: 1000px;
display: flex;
align-items: center;
flex: 1;
}

.right{
width: 400px;
margin-left: 1px;
align-items: center;
display: flex;
}

.sbar{
margin-top: 20px;
flex: 1;
border-radius: 25px;
height: 40px;
font-size: 25px;
background-color: rgb(242, 148, 251);
}

.sbar:hover{
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6) ;
cursor: pointer;
background-color: rgb(238, 0, 255);
transition: 3s;
}

.mic:hover{
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6) ;
cursor: pointer;
background-color: rgb(255, 0, 89);
transition: 3s;
}


.sr:hover{
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6) ;
cursor: pointer;
background-color: rgb(255, 0, 89);
transition: 3s;
}

.mic:active{
padding-top: 4px;
padding-left: 10px;
box-shadow: 0px 0px 0px white ;
}

.sr:active{
padding-top: 4px;
padding-left: 10px;
box-shadow: 0px 0px 0px white ;
}


.sr{
margin-top: 20px;
background-color: rgb(192, 0, 192);
width: 40px;
border-radius: 65px;
margin-left: 12px;
margin-right: 10px;
}


.mic{
background-color: rgb(192, 0, 192);
margin-top: 20px;
width: 40px;
border-radius: 65px;
}

.not:hover{
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6) ;
cursor: pointer;
background-color: rgb(255, 0, 89);
transition: 3s;
}

.not:active{
padding-top: 4px;
padding-left: 10px;
box-shadow: 0px 0px 0px white ;
}

.not{
border-radius: 50px;
background-color: rgb(192, 0, 192) ;
margin-top: 20px;
}

.add:hover{
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6) ;
cursor: pointer;
background-color: rgb(255, 0, 89);
transition: 3s;
}

.add:active{
padding-top: 4px;
padding-left: 10px;
box-shadow: 0px 0px 0px white ;
}

.add{
border-radius: 50px;
background-color: rgb(192, 0, 192) ;
margin-top: 20px;
}

.notala{
height: 35px;
}

.addvid{
height: 35px;
width: 80px;
}

.kro{
width: 130px;
height:90px ;
padding-top: 40px;
}

.burger{
width: 60px;
}

.bmu{
margin-top: 40px;
background-color: rgb(79, 0, 79);
}

.kurotube{
font-weight: 700;
font-size: 40px;
padding-top: 40px;
margin-right: 30px;
}